<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>The result:</p>

   <% info.forEach(function(info){%>
<ul>
    <li><strong>Name:</strong><%=info.name %> </li>
    <li><strong>Age:</strong><%=info.age %></li>
    <li><strong>Email:</strong><%=info.email %></li>
    <li><strong>PhoneNumber:</strong><%=info.phone %></li>
</ul>
  <% }) %>

  </body>
</html>
