<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>看看有没有 </p>
  <ul>
   <% info.forEach(function(info){%>

    <li><strong>name:</strong><%=info.name %> </li>
    <li><strong>age:</strong><%=info.age %></li>
    <li><strong>age:</strong><%=info.email %></li>
    <li><strong>age:</strong><%=info.phone %></li>

  <% }) %>
</ul>
  </body>
</html>
